*{
    margin: 0;
    padding: 0; 
    
}
header{
    background-color: black;
    position: sticky;
}
#navbar{
    display: flex;
    align-self: center;
}
#logo{
    margin: 10px 23px;
    font-size: 20px;
}
#logo img{
    height: 90px;
    width: 98px;
}
ul{
    display: flex;
    margin-left: 325px;
    text-align: center;
}
li{
    list-style: none;
    font-size: 1.5rem;
    border-radius: 25px;
}
a{
    display: block;
    padding: 20px;
    margin-top: 24px;
    text-decoration: none;
    color: rgb(245, 237, 237);
}
a:hover{
    color: rgb(146, 146, 158);
    background-color: rgb(78, 70, 69);
    border-radius: 25px;
    text-decoration-thickness: 5px ;
}

.right :hover{
    cursor:pointer;
    background-color: rgba(145, 144, 143, 0.253);
}


/* #hehehe{
    margin-right: 300px;
} */
input{
    margin-left: 300px;
}
body{
     background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/Vd3bj2jPe/videoblocks-business-woman-hand-pointing-on-graphs-at-laptop-screen-close-up-of-laptop-computer-screen-with-financial-report-closeup-of-financial-analyst-analyzing-economics-charts-in-notebook_rjqeh4uir_thumbnail-1080_01.png);
     background-repeat: no-repeat;
     height: 1700px;
     width: auto;
    background-size: cover;
    background-position: center;
   }
   .name{
       margin-left: -11px;
       color: white;
   }
   /* .container{
       margin: 107px;
       margin-bottom: 0;
       padding: 0px;
       display: inline-block;
       
     
       text-align: center;
   } */
   .small{
    height: 280px;
    width: 400px;
   }
   h2{
    color: rgb(200, 193, 193);
    text-decoration: none;
    font-family: 'Roboto Slab';
    /* font-size: 60px; */

   }
   .small{
       font-size: 1.2rem;
       color: white;
   }
   
.right{
    display: inline-block;
    position: absolute;
    top: 15px;
    right:15px;
     color: rgb(221, 245, 167);
}


  
.searchbox {
    position:absolute;
    /* flex-direction: column;
    justify-content: center;
    align-items: stretch;*/
    top: 29px;
    right: 15px;
  }
  
  form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 4px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 1px;
    padding: 5px 8px;
    font-size: 18px;
    color: rgb(238, 241, 241);
    border: 2px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
    
       filter: invert(99%); 
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }
  h2 {
    text-align: center;
    font-size: 30px;
	}
	img#getImage {
    width: 300px;
    height: auto;  
    border: 4px solid #a1a1a1;  
	}
	div {
    text-align: center;
	}
  .tag {
        height: 24px;
        width: 27px;
        padding: 13px;
        margin-top: 2px;
    }
    .tag, .fa {
        cursor: pointer;
    }
    .transparent, .hover-none:hover {
        background-color: transparent!important;
    }
    .border {
        border: 1px solid #ccc!important;
    }
    .badge, .tag {
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    .center {
        text-align: center!important;
    }
    .dark-grey, .hover-dark-grey:hover, .dark-gray, .hover-dark-gray:hover {
        color: #fff!important;
        background-color: #616161!important;
    }
    .xlarge {
        font-size: 24px!important;
    }
    .fa-arrow-circle-right:before {
    content: "\f0a9";
}
*, *:before, *:after {
    box-sizing: inherit;
}
.section{
    display: block;
    
        
    

}

    
.fa {
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
  #item-1{
    position: absolute;
    left: 10px;
}  

#item-3{
    position: absolute;
    right: 10px;
   
}
#item-2{
    position: center;
}
section{
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 255px;
    display: flex;
    text-align: center;
}
#article{
    
    position: absolute;
    top:1200px;
    left: 255px;
    justify-content: space-evenly;
    color: #ccc;
    border: 2px solid green;
    width: 995px;
    height: 330px;
    
    
}
.feature{display: flex;
    justify-content: space-evenly;
    
    width: 249px;
    
}

 #a1{ 
     background-color: #BFFFF0;
     border: 2px solid black;
     color: rgb(20, 240, 170);
    }
    
    #a2{
        background-color: #bcbcf5;
        border: 2px solid black;
        color: rgb(15, 87, 241);
    }
    #a3{
        background-color: #98c4f2;
        border: 2px solid black;
        color: rgba(50, 70, 134, 0.785);
    }
    #a4{
        background-color: #FFBBBB;
        border: 2px solid black;
     color: rgb(247, 3, 3);
 }
 /* to decide the font size and display property of what we offer */
 .fpallete{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    
    
 }
 .Ach{
    font-weight: 500F;
     color: rgb(245, 213, 202);
     font-family: 'Orelega One';
 }
 #wwo {
    position: absolute;
    top: 1050px;
    left: 570px;
    font-weight: 500F;
    align-content: center;

}
  
  
  
  

 
